footer.main-footer
  .container
    .copyright ©2019
    ul.list-unstyled.footer-nav
      each val in footer.nav
        li
          a(href="#")= val
    ul.list-unstyled.socials
      li
        a.icon.icon-fb(href="#" target="_blank" aria-label="Link to Facebook")
      li
        a.icon.icon-tw(href="#" target="_blank" aria-label="Link to Twiter")

